---
- hosts: all
  sudo: yes
  remote_user: vagrant
  vars:
    username: vagrant
    newuser: newuser
    group: vagrant
    shell: /bin/bash
    web_server: httpd
    state: latest
    file: res/test.txt
    dest: /tmp
    web_user: nginx
    worker_processes_num: 1
    error_log_path: /var/log/nginx/error.log
  tasks:
    - name: Install Python bindings for SELinux
      yum: pkg=libselinux-python state=latest
    - name: Disable SELnix
      selinux: state=disabled
    - name: Add an user
      user: name={{ newuser }} group={{ group }} shell={{ shell }}
    - name: Install a web server
      yum: name={{ web_server }} state={{ state }}
      #sudo: yes
    - name: Enable chkconfig httpd
      service: name={{ web_server }} state=started enabled=yes
    - name: Create a directory
      file: path={{ dest }}/res/ state=directory
    - name: Copy a file
      copy: src={{ file }} dest={{ dest }}/{{ file }} backup=yes
      notify: Restart web server
    - name: Set an owner of the file
      file: dest={{ dest }}/{{ file }} owner={{ username }} state=file mode=777
      notify: Restart web server
    - name: Run command.sh
      script: bin/command.sh
    - name: Run other.sh
      script: bin/other.sh creates=/tmp/done.txt
    - name: Echo Hello World
      command: echo Hello World!
    - name: Run cat in /tmp
      command: cat {{ file }} chdir={{ dest }}/
    - name: Extract "te"
      shell: cat {{ dest }}/{{ file }} | grep "te" >> {{ dest }}/test.out creates=/tmp/done.txt
    - name: Create a symbolic link
      file: src={{ dest }}/{{ file }} dest=/etc/symlink state=link
    - name: Set the owners of all the files under {{ dest }} to remote_user
      file: path={{ dest }} owner={{ username }} recurse=yes
    - name: Configure nginx.conf
      template: src=res/nginx.conf.j2 dest={{ dest }}/nginx.conf
  handlers:
    - name: Restart web server
      service: name={{ web_server }} state=restarted
